body{
    overflow-y: hidden;
    margin: 0px;
}

#map { 
    height: 100vh;
    width: 100%; 
    z-index: 1;
}
#menu{
    position: absolute;
    z-index: 3;
    background-color: white;
    opacity: .9;
    height: 100vh;
    width: 700px;
    right: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#los{
    font-size: 30px;
}