body{
    overflow-y: hidden;
    margin: 0px;
}

#map { 
    height: 100vh;
    width: 100%; 
    z-index: 1;
}
#menu{
    position: absolute;
    z-index: 3;
    background-color: white;
    opacity: 0.7;
    height: 100vh;
    width: 700px;
    right: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
#input{
    background-color: black;
    color: white;
    height: 30px;
    width: 500px;
    font-size: 30px;
}